@media (max-width: 1120px) {
  .slider_section .detail-box {
    border: none;
  }
  .pet_section .img-box img {
    background-size: contain;
  }
}

@media (max-width: 992px) {
  .hero_area {
    height: auto;
  }

  .pet_section .img-box {
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .pet_section .img-box img {
    background-size: contain;
    width: 100%;
  }

  .animal_section .animal_container .box {
    flex-basis: 45%;
  }

  .contact_section .form_container {
    padding: 0;
  }
}

@media (max-width: 768px) {

  p {
    text-align: center;
  }

  .slider_section.detail-box p {
    text-align: center;
  }

  .detail-box h4 {
    text-align: center;
  }
  
  .client_section .box {
    display: block;
  }

  .slider-img {
    padding-top: 20px;
  }

  .layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .layout_padding-top {
    padding-top: 90px;
  }

  .layout_padding-bottom {
    padding-bottom: 90px;
  }

  .hero_area::before {
    width: 225px;
    height: 110px;
  }

  .slider_section .detail-box {
    text-align: center;
    margin-top: 50px;
  }

  .slider_section .detail-box .btn-box {
    justify-content: center;
  }

  .about_section .detail-box {
    width: 100%;
  }

  .slider_section .img-box {
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .us_section .us_container {
    flex-direction: column;
  }
  
  .heading_container {
    -webkit-box-align: start;
    -ms-flex-align: start;
        align-items: center;
  }

  .us_section .us_container .box:not(:last-child) {
    margin-bottom: 45px;
  }

  .us_section .us_container::before {
    display: none;
  }

  .pet_section .img-box {
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .pet_section .detail-box .heading_container {
    padding-top: 50px;
    align-items: center;
    text-align: center;
  }

  .food_section {
    background: linear-gradient(to bottom, #0a2050 50%, #173b82);

  }

  .food_section .food_container {
    flex-direction: column;
    align-items: center;
  }

  .food_section .food_container .box:not(:last-child) {
    margin-bottom: 35px;
  }

  .client_section #carouselExampleControls {
    flex-direction: column;
    align-items: center;
  }

  .client_section .carousel_btn-box {
    margin-top: 45px;
  }

  .contact_section .map_container {
    margin: 0;
  }

  .info_section .row>div {

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

}

@media (min-width: 768px) {
  .slider_section .container-fluid {
    padding-bottom: 75px;
    padding-top: 75px;
  }
}

@media (max-width: 576px) {
  .heading_container {
    align-items: center;
    text-align: center;
  }

  .slider_section .detail-box h1 {
    font-size: 2.5rem;
  }

  .pet_section .img-box {
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .animal_section .animal_container .box {
    flex-basis: 95%;
    animation: none !important;
  }

  .client_section .box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact_section .map_container {
    height: 475px;
  }

}

@media (max-width: 480px) {
  .pet_section .img-box::before {
    background-size: cover;
  }

  .projects_page {
    position: relative;
    text-align: center;
    margin-left: 0;
  }

  .projects_heading {
    font-size: 30px;
    z-index: 100;
    margin-left: auto !important;
    text-align: center;
  }

  h4.services {
    font-size: 20px;
  }

  p.services {
    font-size: 15px;
    margin-top: 0;
  }

  .project_slider_section img {
    width: 200px;
  }

  .pet_section .img-box {
    padding: 0;
    width: 100%;
  }

  .pet_section .img-box img {
    background-size: contain;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .pet_section .img-box {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .pet_section .img-box img {
    background-size: contain;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .client_section.detail-box {
    padding-top: 50px;
  }

  .slider_section.detail-box {
    padding-top: 100px;
  }

  .food_container .detail-box h6 {
    margin-top: 0px;
  }

  .pet_section .img-box img {
    background-size: contain;
    width: 100%;
  }

  .contact_section .map_container {
    height: 400px;
  }

  .pet_section .img-box {
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .pet_section .img-box {
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .pet_section .img-box img {
    background-size: contain;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .pet_section .img-box img {
    background-size: contain;
    width: 100%;
  }
  
}
